Write a Python program to do arithmetical operations addition and division.

In [1]:
5+6

11

In [4]:
num1 = 5
num2 = 6
num1 + num2

11

In [2]:
25/5

5.0

In [5]:
num1 = 25
num2 = 5
num1/num2

5.0

Write a Python program to find the area of a triangle.

In [6]:
1/2*10*15

75.0

In [39]:
base=10
height=15
1/2*base*height

75.0

Write a Python program to convert Celsius to Fahrenheit.

In [9]:
(9/5*37)+32

98.60000000000001

In [38]:
num1=9
num2=5
num3=37
num4=32
num1/num2
num1/num2*num3
num1/num2*num3+num4

98.60000000000001

Write a Python program that return all datatypes that we discussed in the class.

In [10]:
2+2

4

In [11]:
print("Data type: " ,type(2+2))

Data type:  <class 'int'>

In [17]:
name =input("Enter your name: ")
print("Your name is: " ,name)

Enter your name: aneeqa
Your name is:  aneeqa

In [18]:
print("Data type: ",type(name))

Data type:  <class 'str'>

In [19]:
2==2

True

In [20]:
print("Data type: ",type(2==2))

Data type:  <class 'bool'>

In [21]:
2.5+2.6

5.1

In [23]:
print("Data type: " ,type(2.5+2.6))

Data type:  <class 'float'>

In [29]:
num1=19
num2=print("Data type: ",type(19))

Data type:  <class 'int'>

In [30]:
num2=16.5
print("data type: ",type(16.5))

data type:  <class 'float'>

In [33]:
name =input("Enter your name: ")
print("Data type: " ,type(name))

Enter your name: aneeqa
Data type:  <class 'str'>

In [35]:
2==2
print("data type: ",type(2==2))

data type:  <class 'bool'>